<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}SentimentScout{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="images/x-icon" href="{{ url_for('static', filename='images/Logo.jpeg') }}" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> 
    
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-color py-3 pt-lg-3">
        <div class="container">
          <a class="navbar-brand text-white fw-bold" href="#">
            <img class="rounded-circle " width="35px" src="{{ url_for('static', filename='images/Logo.jpeg') }}" alt="Sentiment Scout Logo">
            Sentiment Scout
          </a>
          <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">logout</a>
              </li>
            </ul>  
          </div>
        </div>
    </nav>


    <section class="bg-main bg-color hero-section">
        <div class="container">
            <div class="row">
                <div class="d-flex flex-column align-items-start justify-content-center ">
                    <h2 class="text-capitalize fw-bolder text-white">Youtube Comment Analyser</h2>
                    <p>
                        <form method="POST" action="{{ url_for('home_with_sentiment') }}" onsubmit="showLoadingPanel();" id="youtube-form">
                            <div class="row ">
                                <div class="col">
                                    <label for="video_url" class="form-label color text-primary"><h4> Enter Video URL:</h4></label>
                                </div>
                                <div class="col col-12">
                                    <div class="input-group">
                                        <input type="text" name="video_url" class="form-control" id="floatingInput" style="width: 400px;" placeholder="Enter A URL" required>
                                        <button class="btn btn-secondary" type="submit">Get Comments</button>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <div class="alert alert-danger mt-3">
                                        <ul>
                                            {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </form>
                        
                        <div id="loading-panel" style="display: none;">
                            <p>Please Wait, Processing...</p>
                        </div>
                    </p>                   
                </div>

                
                <div class="container my-5"></div>
            </div>
        </div>
        <div class="custom-shape-divider-bottom-1684208460">
          <svg data-name="Layer 1" preserveAspectRatio="none" viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg">
              <path class="shape-fill"
                    d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"></path>
          </svg>
        </div>        
    </section>

    <!-- <div class="container">
        <h2>Youtube Comment Analyser</h2>
        <form method="POST" action="{{ url_for('home_with_sentiment') }}" onsubmit="showLoadingPanel();" id="youtube-form">
            <label for="video_url">YouTube Video URL:</label>
            <input type="text" name="video_url" hint="url" required>
            <button type="submit">Get Comments</button>
        </form>
        <div id="loading-panel" style="display: none;">
            <p>Please wait, processing...</p>
        </div>
    </div> -->

    <section class=" services-section">
        <div class="container text-center common-title fw-bold">
            <h2 class="common-heading">Output Would be generated below </h2>
            <hr class="w-25 mx-auto ">
        </div>
        <div class="row">

            <div id="chart-container" {% if show_chart_container %}style="display: block;"{% else %}style="display: none;"{% endif %} class="chart-container">
                <!-- Sentiment Pie Chart -->
                <div class="chart">
                    <img src="{{ url_for('static', filename='images/sentiment_pie_chart.png') }}" alt="Sentiment Pie Chart">
                    <h4>Sentiment Distribution</h4>
                    <hr class=" mx-auto ">
                </div>
            
                <!-- Top Positive Keywords Bar Chart -->
                <div class="chart">
                    <img src="{{ url_for('static', filename='images/top_positive_keywords_bar_chart.png') }}" alt="Top Positive Keywords Bar Chart">
                    <h4>Top Keywords in Positive Sentiment</h4>
                    <hr class="mx-auto "><br>
                </div>
            
                <!-- Top Negative Keywords Bar Chart -->
                <div class="chart">
                    <img src="{{ url_for('static', filename='images/top_negative_keywords_bar_chart.png') }}" alt="Top Negative Keywords Bar Chart">
                    <h4>Top Keywords in Negative Sentiment</h4>
                    <hr class="mx-auto "><br>
                </div>
                <!-- Display sentiment over time plot -->
                <div class="chart">
                    <img src="{{ url_for('static', filename='images/sentiment_over_time.png') }}" alt="Sentiment Over Time Plot">
                    <h4>Sentiment Over Time</h4>
                    <hr class="mx-auto "><br>
                </div>
            </div>
        </div>
    </section>


    {% if comments %}
        <h3>Top Comments:</h3>
        <ol>
            {% for comment in comments %}
                <li>{{ comment['text'] }}</li>
            {% endfor %}
        </ol>
        <p>Download Comments: <a href="{{ url_for('download_csv', csv_filename='comments.csv') }}">Download</a></p>
    {% endif %}


    <footer class="main-footer-section bg-color">
        <div class="container">
            <hr class="container mx-auto">

            <div class="row">
                <div class="col-lg-8 col-12 text-center">
                    Copyright ©2024 Sentiment Scout. All Rights Reserved | This Project is made by <span class="bg-theme"> Karan Mehta</span>
                </div>
            </div>
        </div> 
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  
</body>
</html>
