<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register | Sentiment Scout</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register_style.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="wrapper">
    <form action="/register" method="POST">
        {{ form.hidden_tag() }}
      <h1>Register</h1>
      <div class="input-box">
        {{ form.name.label(for="name")}}
        {{ form.name(id="name", placeholder="Username")}}
        {% if form.name.errors %}
            <ul class="text-danger">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <i class='bx bxs-user'></i>
      </div>

      <div class="input-box">
        {{ form.email.label(for="email")}}
        {{ form.email(id="email", placeholder="Email")}}
  
        {% if form.email.errors %}
              <ul class="text-danger">
                  {% for error in form.email.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
        {% endif %}
        <i class='bx bxs-user' ></i>
      </div>

      <div class="input-box">
        {{ form.password.label(for="password")}}
        {{ form.password(id="password", placeholder="Password")}}

        {% if form.password.errors %}
                <ul class="text-danger">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
        {% endif %}
        <i class='bx bxs-lock-alt' ></i>
      </div>
      {{ form.submit(class="btn")}}
      <div class="login-link">
        <p>Already have an account? <a href="/login">Login</a></p>
      </div>
    </form>
  </div>
</body>
</html>